<div class="flex flex-col items-center max-w-5xl mx-auto px-4 mt-8">
  <h2 class="text-2xl font-bold mb-6">プロフィール編集</h2>

  <%= form_with model: resource, url: registration_path(resource_name), method: :put, local: true, multipart: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <!-- アバター -->
    <div class="flex flex-col items-center w-full space-y-6">
      <%= f.label :avatar, class: "font-medium mb-2" %>

      <% if resource.avatar.attached? %>
        <div class="mt-2">
          <%= image_tag resource.avatar_thumbnail, class: "rounded-full w-24 h-24 mt-1" %>
        </div>
      <% else %>
        <%= avatar_placeholder(resource) %>
      <% end %>

      <%= f.file_field :avatar, class: "file-input" %>
    </div>


    <!-- ユーザー名 -->
    <div class="w-full mt-8">
      <%= f.label :name, class: "font-medium mb-2" %>
      <%= f.text_field :name, class: "input input-bordered bg-white w-full" %>
    </div>

    <div class="w-full mt-8">
      <%= f.label :introduction, class: "font-medium mb-2" %>
      <%= f.text_area :introduction, placeholder: "200文字まで", class: "textarea textarea-bordered textarea-profile bg-white lg:w-[1024px]" %>
    </div>

    <div class="w-full mt-8">
      <%= f.submit "更新", class: "btn btn-primary w-full" %>
    </div>
  <% end %>
