<div class="h-screen flex items-center justify-center">
  <div class="card w-full max-w-lg bg-gradient-to-b from-secondary to-base-100 shadow-xl p-8 flex items-center justify-center flex-col space-y-8">
    <h2 class="font-mplus text-xl md:text-2xl font-bold"><%= t('devise.registrations.new.title') %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col space-y-8 items-center" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <!-- 名前 -->
      <div class="form-control w-full max-w-md">
        <label class="label">
          <span class="label-text font-semibold"><%= t('devise.shared.name') %></span>
        </label>
        <%= f.text_field :name, placeholder: t('devise.shared.placeholders.name'), class: "input input-primary w-full" %>
      </div>

      <!-- メールアドレス -->
      <div class="form-control w-full max-w-md">
        <label class="label">
          <span class="label-text font-semibold"><%= t('devise.shared.email') %></span>
        </label>
        <%= f.email_field :email, placeholder: t('devise.shared.placeholders.email'), class: "input input-primary w-full" %>
      </div>

      <!-- パスワード -->
      <div class="form-control w-full max-w-md">
        <label class="label">
          <span class="label-text font-semibold"><%= t('devise.shared.password') %></span>
        </label>
        <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
        <%= f.password_field :password, placeholder: t('devise.shared.placeholders.password'), class: "input input-primary w-full" %>
      </div>

      <!-- パスワード（確認用） -->
      <div class="form-control w-full max-w-md">
        <label class="label">
          <span class="label-text font-semibold"><%= t('devise.shared.password_confirmation') %></span>
        </label>
        <%= f.password_field :password_confirmation, placeholder: t('devise.shared.placeholders.password_confirmation'), class: "input input-primary w-full" %>
      </div>

      <div class="actions">
        <%= f.submit t('devise.registrations.new.sign_up'), class: "btn btn-primary font-mplus w-full max-w-md px-10" %>
      </div>
    <% end %>

    <div class="divider"></div>
    <p>お持ちのアカウントで登録</p>

    <%= button_to user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: "btn bg-white text-black border-[#e5e5e5]" do %>
      <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <g>
          <path d="m0 0H512V512H0" fill="#fff"></path>
          <path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path>
          <path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path>
          <path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path>
          <path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path>
        </g>
      </svg>
      Googleアカウント
    <% end %>

    <div class="divider"></div>
    <%= link_to "アカウントをお持ちの方はこちら", new_session_path(resource_name), class: "text-sm hover:underline" %>
  </div>
</div>