<div class="card bg-white shadow-xl mb-6">
  <div class="card-body relative">
    <% if diary.user_id == current_user.id %>
      <div class="absolute top-4 right-4 dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="#a9a2a2" d="M96 320C96 289.1 121.1 264 152 264C182.9 264 208 289.1 208 320C208 350.9 182.9 376 152 376C121.1 376 96 350.9 96 320zM264 320C264 289.1 289.1 264 320 264C350.9 264 376 289.1 376 320C376 350.9 350.9 376 320 376C289.1 376 264 350.9 264 320zM488 264C518.9 264 544 289.1 544 320C544 350.9 518.9 376 488 376C457.1 376 432 350.9 432 320C432 289.1 457.1 264 488 264z"/></svg>
        </div>
        <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
          <li><%= link_to '編集', edit_diary_path(diary) %></li>
          <li><%= link_to '削除', "#", data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "text-red-500" %></li>
        </ul>
      </div>
    <% end %>

    <div class="flex space-x-8">
      <span><%= diary.user.name %></span>
      <span><%= diary.created_at.strftime('%Y年%m月%d日') %></span>
    </div>
    <ol class="list-none space-y-2">
      <% diary.diary_contents.each_with_index do |content, i| %>
        <li>
          <span class="mr-2"><%= i + 1 %>.</span>
          <%= content.body %>
        </li>
      <% end %>
    </ol>
    
    <div class="badge badge-outline badge-primary mt-4 glass-secondary">
      <%= diary.is_public? ? "公開" : "非公開" %>
    </div>
  </div>
</div>