<div class="flex flex-col items-center max-w-5xl mx-auto px-4 mt-8">
  <h2 class="font-mplus text-2xl font-bold mb-6">プロフィール</h2>

  <!-- アバター -->
  <div class="flex flex-col items-center w-full space-y-6">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar_thumbnail, class: "rounded-full w-24 h-24 mt-1" %>
    <% else %>
      <%= avatar_placeholder(@user) %>
    <% end %>
  </div>

  <!-- ユーザー名 -->
  <div class="w-full mt-8">
    <h3 class="font-medium mb-2">ユーザー名</h3>
    <!-- `p`タグにも input クラスを適用 -->
    <p class="input input-bordered w-full bg-white flex items-center h-12"><%= @user.name %></p>
  </div>

  <!-- 自己紹介 -->
  <% if @user.introduction.present? %>
    <div class="w-full mt-8">
      <h3 class="font-medium mb-2">自己紹介</h3>
      <!-- `p`タグにも textarea クラスを適用 -->
      <p class="textarea textarea-bordered textarea-profile w-full bg-white h-auto"><%= @user.introduction %></p>
    </div>
  <% end %>

    <div class="w-full mt-8 flex justify-center">
    <% if current_user == @user %>
        <%= link_to "編集", edit_user_registration_path, class: "btn btn-primary" %>
    <% end %>
    </div>
</div>
