<footer class="fixed bottom-0 left-0 z-50 w-full h-16 backdrop-blur-md  bg-base-200/70 border-t border-gray-200 lg:hidden">
  <div class="flex h-full w-full mx-auto items-center">
    <%= link_to home_path, class: "flex flex-col items-center flex-1" do %>
      <span class="material-symbols-outlined text-gray-500 <%= highlight_class(home_path) %>">home</span>
      <span class="text-xs text-gray-500 mt-1">ホーム</span>
    <% end %>

    <%= link_to my_diaries_diaries_path, class: "flex flex-col items-center flex-1" do %>
      <span class="material-symbols-outlined text-gray-500 <%= highlight_class(my_diaries_diaries_path) %>">menu_book</span>
      <span class="text-xs text-gray-500 mt-1">マイ日記</span>
    <% end %>

    <%= link_to public_diaries_diaries_path, class: "flex flex-col items-center flex-1" do %>
      <span class="material-symbols-outlined text-gray-500 <%= highlight_class(public_diaries_diaries_path) %>">groups</span>
      <span class="text-xs text-gray-500 mt-1">みんなの日記</span>
    <% end %>

    <div data-controller="modal" class="flex-1 flex flex-col items-center">
      <button data-action="click->modal#open" class="flex flex-col items-center cursor-pointer">
        <span class="material-symbols-outlined text-gray-500">account_circle</span>
        <span class="text-xs text-gray-500 mt-1 sm:hidden">アカウント</span>
        <span class="text-xs text-gray-500 mt-1 hidden sm:block">アカウント設定</span>
      </button>
      <%= render "shared/settings_modal" %>
    </div>
  </div>
</footer>