<div class="flex flex-col items-center justify-center p-4">
  <div class="max-w-md mx-auto my-8">
    <%= link_to new_diary_path, class: "card card-body bg-primary shadow-xl rounded-lg p-6 text-center" do %>
      <h2 class="text-xl text-primary-content font-bold mb-2">日記を書く</h2>
      <p class="text-base text-gray-700">今日あった良かったことや、<br>
        ちょっと頑張ったことなどを書いてみよう！</p>
    <% end %>
  </div>

  <div class="flex flex-col items-center justify-center p-4">
    <h1 class="text-2xl font-bold mb-2">幸せ瓶</h1>

    <div id="happiness-jar-container" 
        data-controller="happiness-jar"
        data-happiness-jar-existing-count-value="<%= @existing_happiness_count %>"
        data-happiness-jar-animation-type-value="<%= @animation_type %>"
        data-happiness-jar-animation-count-value="<%= @animation_count %>"
        data-happiness-jar-previous-total-value="<%= @previous_total %>"
        data-happiness-jar-image-urls-value="<%= @happiness_image_urls.to_json %>">

      <div class="w-full flex justify-center">
        <div id="bottle-container"
            class="relative w-[300px] h-[450px] border-2 border-accent rounded-md bg-base-200 bg-opacity-70 shadow-lg overflow-hidden">

          <canvas id="happiness-canvas" 
                  width="300" 
                  height="450" 
                  style="position: absolute; top: 0; left: 0; z-index: 1;">
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="flex space-x-8">
    <!-- 継続日数 -->
    <div class="flex flex-col items-center mt-8">
      <span class="text-xl font-semibold">継続日数</span>
      <div class="text-4xl font-bold p-8 bg-base-200 rounded-2xl border-2 border-primary shadow-md mt-2">
        <%= current_user.diary_streak %>日
      </div>
    </div>  

      <!-- 幸せのかけら-->
    <div class="flex flex-col items-center mt-8">
      <span class="text-xl font-semibold">幸せのかけら</span>
      <div class="text-4xl font-bold p-8 bg-base-200 rounded-2xl border-2 border-primary shadow-md mt-2">
        <%= @existing_happiness_count %>個
      </div>
    </div>
  </div>
</div>











