<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <title><%= content_for(:title) || "ひだまり日記" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/9eebda5a5d.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/cally"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.20.0/matter.min.js"></script>


    <script>
      window.OneSignalDeferred = window.OneSignalDeferred || [];
      OneSignalDeferred.push(async function(OneSignal) {
        await OneSignal.init({
          appId: "916a5045-7817-411e-b961-b4447b56c7ba",
        });

        const currentUserUuid = "<%= current_user&.onesignal_external_id %>"; 
    
        if (currentUserUuid) {
          OneSignal.login(currentUserUuid);
          console.log('OneSignal.login called with UUID:', currentUserUuid);
        } else {
          console.error('Current user UUID is not available. OneSignal.login was not called.');
          OneSignal.logout();
        }
      });
    </script>
  </head>

  <body class="font-base-content font-zen_maru">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <main class="min-h-screen pb-20">
      <%= yield %>
    </main>
    
    <% if user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
