<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ひだまり日記" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/9eebda5a5d.js" crossorigin="anonymous"></script>
  </head>

  <body class="font-base-content font-zen_maru">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% end %>

    <main class="min-h-screen">
      <%= yield %>
    </main>
    
    <% if user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
