<!DOCTYPE html>
<html>
  <head>

    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <title><%= content_for(:title) || "ひだまり日記" %></title>
    <%= favicon_link_tag('favicon.ico') %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "swiper", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/9eebda5a5d.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/cally"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.20.0/matter.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= display_meta_tags(default_meta_tags) %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>


    <script>
      window.OneSignalDeferred = window.OneSignalDeferred || [];
      OneSignalDeferred.push(async function(OneSignal) {
        await OneSignal.init({
          appId: "916a5045-7817-411e-b961-b4447b56c7ba",
        });

        const currentUserUuid = "<%= current_user&.onesignal_external_id %>"; 
    
        if (currentUserUuid) {
          OneSignal.login(currentUserUuid);
          console.log('OneSignal.login called with UUID:', currentUserUuid);
        } else {
          console.error('Current user UUID is not available. OneSignal.login was not called.');
          OneSignal.logout();
        }
      });

      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
            .then(registration => {
              console.log('Service Worker registered:', registration);
            })
            .catch(error => {
              console.log('Service Worker registration failed:', error);
            });
        });
      }
    </script>
  </head>

  <body class="font-base-content font-zen_maru">
    <%= render 'shared/header' %>

    <div id="flash">
      <%= render 'shared/flash_message' %>
    </div>
    <main class="min-h-screen pb-20">
      <%= yield %>
    </main>
    
    <% if user_signed_in? %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
